ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block;
}
ul.nav li.dropdown:hover > .caret {
	transform: rotate(180deg);
}
.show-outline {
	border: solid 3px red;
}
.bootstrap-select {
	max-width: 100%;
}
#carousel-1 .active img {
	height: 300px;
	width: 800px;
}
ul.inline > li {
	float: left;
}
