ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block;
}
ul.nav li.dropdown:hover > .caret {
	transform: rotate(180deg);
}
.show-outline {
	border: solid 3px red;
}
.bootstrap-select {
	max-width: 100%;
}
#carousel-1 .active img {
	height: 300px;
	width: 800px;
}
ul.inline > li {
	float: left;
}
#navbar2 li a {
	line-height:42px;
	font-size: 20px;
}
#navbar2 form {
	line-height: 56px;
}
#navbar2 > div {
	display: inline-block;
	vertical-align: bottom;
}
