{% extends "bootstrap/base.html" %}

{% block title %}马坤华的个人网站{%endblock%}
{% block styles %}
	{{super()}}
	<link rel="stylesheet" href="{{url_for('static', filename='css/default.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-select.min.css')}}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default col-md-8 col-md-offset-2" id="navbar-example">
	<ul class="nav navbar-nav">
		<li><a href="#"><span class="glyphicon glyphicon-phone"></span> 手机客户端</a></li>
		<li><a href="#">关于我们 <span class="glyphicon glyphicon-eye-open"></span></a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#">登录</a></li>
		<li><a href="#">注册</a></li>

		<li class=dropdown>
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				会员中心 <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">我的预约</a></li>
				<li><a href="#">我的订单</a></li>
				<li><a href="#">我的点评</a></li>
				<li><a href="#">我的收藏</a></li>
				<li><a href="#">我的钱包</a></li>
				<li><a href="#">我的卡券</a></li>
				<li><a href="#">我的帖子</a></li>
				<li><a href="#">个人信息</a></li>
				<li><a href="#">账户安全</a></li>
				<li><a href="#">消息中心</a></li>
			</ul>
		</li>

		<li class=dropdown>
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				结婚工具 <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">婚宴轻松找</a></li>
				<li><a href="#">摄影轻松找</a></li>
				<li><a href="#">婚庆轻松找</a></li>
				<li><a href="#">结婚吉日查询</a></li>
				<li><a href="#">结婚登记处查询</a></li>
				<li><a href="#">结婚预算管理</a></li>
			</ul>
		</li>

		<li><a href="#">婚尚资讯</a></li>
		<li><a href="#">商户入驻</a></li>
		<li><a href="#">保障中心</a></li>
		<li><a href="#">年会预定</a></li>
		<li><a href="#">CEO信箱</a></li>
	</ul>
</div>
<div class="navbar navbar-default col-md-8 col-md-offset-2"> 
	<ul class="nav navbar-nav">
		<li><a href="#"><img src="{{url_for('static', filename='img/logo.png')}}" 
			alt="daoxila.com" /></a></li>
		<li class=dropdown>
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				成都 <i class="caret"></i>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">热门城市</a></li>
				<li><a href="#">华北东北</a></li>
				<li><a href="#">华东地区</a></li>
			</ul>
		</li>
		<li>
			<form class="form-inline navbar-form">
				<input type="text" class="form-control" placeholder="酒店名">
				<button type="submit" class="btn btn-primary">搜索</button>
			</form>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li>全国免费咨询热线 <br /> 400-820-1890</li>
	</ul>
</div>
<div class="navbar navbar-default col-md-8 col-md-offset-2">
	<ul class="nav navbar-nav">
		<li class="active"><a href="#">首页</a></li>
		<li><a href="#">婚纱</a></li>
		<li><a href="#">星级酒店</a></li>
		<li><a href="#">特色餐厅</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				婚纱照 <i class="caret"></i>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">全球旅拍</a></li>
			</ul>
		</li>
		<li><a href="#">蜜月游</a></li>
		<li class="divider-vertical"></li>
		<li><a href="#">新人说</a></li>
		<li><a href="#">婚品</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}
	<div class="col-md-8 col-md-offset-2 show-outline content1">
		{% include "content.html" %}
	</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/bootstrap-select.js')}}"></script>
{% endblock %}
